* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1,
h2,
h3,
h4,
h5,
h6,
.navbar a {
    font-family: "Bahnschrift SemiBold", "Bahnschrift", sans-serif;
}

body,
p,
li,
a {
    font-family: "Arial", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* rand om de gehele website*/
    border: 10px solid #636;
}

/* header */
.hero {
    background-image: url('./img/career-background.jpeg');
    background-size: cover;
    background-position: center;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero-text h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 1.2rem;
}

/* Navbar */
.navbar {
    background-color: #636;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px
}

.navbar a {
    text-decoration: none;
    color: #f4f4f4;
    font-weight: bold;
}

/* Sections */
.section {
    padding: 60px 20px;
    text-align: center;
}

.section h2 {
    margin-bottom: 30px;
    font-size: 2rem;
}

/* photos */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

/* Cards */
.card {
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Testimonials */
.testimonial {
    max-width: 800px;
    margin: 0 auto;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    font-style: italic;
}

/* Photo grid */
.photo-grid img {
    width: 100%;
    height: 80%;
    border-radius: 50%;
}

/* Footer */
footer {
    background-color: #636;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: auto;
    display: flex;
    justify-content: flex-end;

}

footer .social-icons {
    margin-top: 10px;
}

footer .social-icons img {
    width: 25px;
    margin: 0 5px;
}